body{
	background:rgb(199, 247, 247);
}
input[type=text],
input[type=mail],
input[type=tel],
input[type=date],
select{
	width: 26%;
	border: 2px solid black;
	border-radius:24px ;
	outline: none;
    display: inline-block;
    float: right;
    margin-right:34%;
    padding: 4px 4px 4px 4px;
}
textarea{
	border: 2px solid black;
	border-radius: 16px;
	outline: none;
}
form{
	width: 84%;
	border: 3px solid black;
	margin: auto;
	box-shadow: 16px 14px 10px #494646;
	background-image: linear-gradient(rgb(180, 222, 248),rgb(167, 238, 167));
	border-radius: 34px;
	outline: none;
}
p,textarea{
	font-family: sans-serif;
	font-size: 18px;
	margin-left: 3%;
}
#b1{
	width: 4%;
	border: 2px solid black;
	border-radius:18px ;
	outline: none;
	font-size: 18px;
	font-family: sans-serif;
	background:rgb(190, 245, 79);
}
#r{
	margin-left: 42%;
	font-family: fantasy;
	text-decoration: underline;
	font-size: 20px;
}
@media only screen and (max-width: 600px) {
  textarea{
    width: 200px;
  }
  #b1{
  	width: 100px;
  }
  #r{
  	margin-left: 30%;
  }
}